@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: green;
}

.Card {
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.numero {
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    color: black;
    height: 50%;
}

.Figura {
    font-size: 100px;
    height: 25%;
}

.invertido {
    transform: rotate(180deg)
}

.red {
    color: red;
}   

.black {
    color: black;
}

.fondo {
    width: 100%;
}

.letra {
    font-size: 10px;
}

